{{#unless autoVerify }}
  <div>
    <div>Welcome to Food Web!</div>
    <p>
      Please verify your new account by clicking
      <a href="{{ env.SERVER_HOST_ADDRESS }}/signup/verification?verificationToken={{ verificationToken }}">here</a>.
    </p>
    <p>
      Your account was given a this temporary password: <strong>{{ password }}</strong><br>
      Please change your password at your earliest convenience under your <a href="{{ env.SERVER_HOST_ADDRESS }}/account/my">account</a>.
    </p>
  </div>
{{else}}
  <div>
    <p>
      Due to maintenance, your password has been reset to: <strong>{{ password }}</strong><br>
      Please change your password at your earliest convenience under your <a href="{{ env.SERVER_HOST_ADDRESS }}/account/my">account</a>.
    </p>
  </div>
{{/unless}}
