<div>
  <div><strong>{{ donation.donorAccount.organization.organizationName }}</strong> has deleted their donation that you previously claimed:</div>
  <p style="font-weight: bold; color: #3e2723">{{ donation.description }}</p>
  <hr style="display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;">
  <p>
    We are sorry for any inconvenience this has caused you.
  </p>
  <p>
    Feel free to browse donations <a href="{{ env.SERVER_HOST_ADDRESS }}/donations">here</a>
    or simply wait for another message containing a new donation.
  </p>
  <p>
    Feel free to contact
    <a href="mailto:{{ donation.donorAccount.contactInfo.email }}">{{ donation.donorAccount.organization.organizationName }}</a> or
    <a href="mailto:{{ env.SUPPORT_EMAIL }}">FoodWeb</a> with any questions.
  </p>
</div>
