{{#if isVolunteer }}
  <div>You have successfully cancelled the following delivery:</div>
  <p style="font-weight: bold; color: #3e2723">{{ donation.description }}</p>
  <hr style="display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;">

  <div style="display: inline-block; width: 278px; margin-bottom: 14px;">
    <div style="display: inline-block; color: #795548; font-weight: bold; margin-bottom: 4px;">
      Donor:
    </div>
    <div style="padding-left: 7px; color: #666;">
      <div style="color: black; font-weight: 500;">
        {{ donorName }}
      </div>
      <div>{{ donation.donorAccount.contactInfo.streetAddress }}</div>
      <div>
        {{ donation.donorAccount.contactInfo.city }}, {{ donation.donorAccount.contactInfo.state }}
        {{ donation.donorAccount.contactInfo.postalCode }}
      </div>
    </div>
  </div>

  <div style="display: inline-block; width: 278px; margin-bottom: 1em;">
    <div style="display: inline-block; color: #795548; font-weight: bold; margin-bottom: 4px;">
      Receiver:
    </div>
    <div style="padding-left: 7px; color: #666;">
      <div style="color: black; font-weight: 500;">
        {{ receiverName }}
      </div>
      <div>{{ donation.receiverAccount.contactInfo.streetAddress }}</div>
      <div>
        {{ donation.receiverAccount.contactInfo.city }}, {{ donation.receiverAccount.contactInfo.state }}
        {{ donation.receiverAccount.contactInfo.postalCode }}
      </div>
    </div>
  </div>

  <hr style="display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 0 0 1em; padding: 0;">
  <p>
    If this was unintended, then you can re-schedule the delivery at this
    <a href="{{ env.SERVER_HOST_ADDRESS }}/donation-details/{{ donation.id }}">link</a>.
  </p>
  <p>
    Feel free to contact <a href="mailto:{{ env.SUPPORT_EMAIL }}">FoodWeb</a> with any questions.
  </p>
{{else if isReceiver }}
  <div>
    The following donation that you claimed from <strong>{{ donorName }}</strong>
    has had its delivery cancelled by <strong>{{ delivererName }}</strong>:
  </div>
  <p style="font-weight: bold; color: #3e2723">{{ donation.description }}</p>
  <hr style="display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;">
  <p>
    You can view the donation and delivery details at this
    <a href="{{ env.SERVER_HOST_ADDRESS }}/donation-details/{{ donation.id }}">link</a>.
  </p>
  <p>
    We apologize for any inconvenience this has caused you.
    <br>Feel free to contact
    <a href="mailto:{{ donation.delivery.volunteerAccount.contactInfo.email }}">{{ delivererName }}</a>
    or <a href="mailto:{{ env.SUPPORT_EMAIL }}">FoodWeb</a> with any questions.
  </p>
{{else}}
  <div>
    The following donation that you submitted has had its delivery cancelled by <strong>{{ delivererName }}</strong>:
  </div>
  <p style="font-weight: bold; color: #3e2723">{{ donation.description }}</p>
  <hr style="display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;">
  <p>
    You can view the donation and delivery details at this
    <a href="{{ env.SERVER_HOST_ADDRESS }}/donation-details/{{ donation.id }}">link</a>.
  </p>
  <p>
    We apologize for any inconvenience this has caused you.
    <br>Feel free to contact
    <a href="mailto:{{ donation.delivery.volunteerAccount.contactInfo.email }}">{{ delivererName }}</a>
    or <a href="mailto:{{ env.SUPPORT_EMAIL }}">FoodWeb</a> with any questions.
  </p>
{{/if}}
