{{#if isVolunteer }}
  <div>You have successfully cancelled the following delivery:</div>
  <p class="donation-description">{{ donation.description }}</p>
  <hr>

  <div>
    <div class="col-6">
      <div class="inline-label">
        Donor:
      </div>
      <div class="indented-data">
        <div class="emphasize">{{ donorName }}</div>
        <div>{{ donation.donorAccount.contactInfo.streetAddress }}</div>
        <div>
          {{ donation.donorAccount.contactInfo.city }}, {{ donation.donorAccount.contactInfo.state }}
          {{ donation.donorAccount.contactInfo.postalCode }}
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="inline-label">
        Receiver:
      </div>
      <div class="indented-data">
        <div class="emphasize">{{ receiverName }}</div>
        <div>{{ donation.receiverAccount.contactInfo.streetAddress }}</div>
        <div>
          {{ donation.receiverAccount.contactInfo.city }}, {{ donation.receiverAccount.contactInfo.state }}
          {{ donation.receiverAccount.contactInfo.postalCode }}
        </div>
      </div>
    </div>
  </div>

  <hr>
  <p>
    If this was unintended, then you can re-schedule the delivery at this
    <a href="{{ env.SERVER_HOST_ADDRESS }}/donation-details/{{ donation.id }}">link</a>.
  </p>
  <p>
    Feel free to contact <a href="mailto:{{ env.SUPPORT_EMAIL }}">FoodWeb</a> with any questions.
  </p>
{{else if isReceiver }}
  <div>
    The following donation that you claimed from <strong>{{ donorName }}</strong>
    has had its delivery cancelled by <strong>{{ delivererName }}</strong>:
  </div>
  <p class="donation-description">{{ donation.description }}</p>
  <hr>
  <p>
    You can view the donation and delivery details at this
    <a href="{{ env.SERVER_HOST_ADDRESS }}/donation-details/{{ donation.id }}">link</a>.
  </p>
  <p>
    We apologize for any inconvenience this has caused you.
    <br>Feel free to contact
    <a href="mailto:{{ donation.delivery.volunteerAccount.contactInfo.email }}">{{ delivererName }}</a>
    or <a href="mailto:{{ env.SUPPORT_EMAIL }}">FoodWeb</a> with any questions.
  </p>
{{else}}
  <div>
    The following donation that you submitted has had its delivery cancelled by <strong>{{ delivererName }}</strong>:
  </div>
  <p class="donation-description">{{ donation.description }}</p>
  <hr>
  <p>
    You can view the donation and delivery details at this
    <a href="{{ env.SERVER_HOST_ADDRESS }}/donation-details/{{ donation.id }}">link</a>.
  </p>
  <p>
    We apologize for any inconvenience this has caused you.
    <br>Feel free to contact
    <a href="mailto:{{ donation.delivery.volunteerAccount.contactInfo.email }}">{{ delivererName }}</a>
    or <a href="mailto:{{ env.SUPPORT_EMAIL }}">FoodWeb</a> with any questions.
  </p>
{{/if}}
