<div>
  <div>The following donation is ready for delivery:</div>
  <p style="font-weight: bold; color: #3e2723">{{ donation.description }}</p>
  <hr style="display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;">

  <div style="display: inline-block; width: 278px; margin-bottom: 14px;">
    <div style="display: inline-block; color: #795548; font-weight: bold; margin-bottom: 4px;">
      Donor:
    </div>
    <div style="padding-left: 7px; color: #666;">
      <div style="color: black; font-weight: 500;">
        {{ donation.donorAccount.organization.organizationName }}
      </div>
      <div>{{ donation.donorAccount.contactInfo.streetAddress }}</div>
      <div>
        {{ donation.donorAccount.contactInfo.city }}, {{ donation.donorAccount.contactInfo.state }}
        {{ donation.donorAccount.contactInfo.postalCode }}
      </div>
    </div>
  </div>

  <div style="display: inline-block; width: 278px; margin-bottom: 1em;">
    <div style="display: inline-block; color: #795548; font-weight: bold; margin-bottom: 4px;">
      Receiver:
    </div>
    <div style="padding-left: 7px; color: #666;">
      <div style="color: black; font-weight: 500;">
        {{ donation.receiverAccount.organization.organizationName }}
      </div>
      <div>{{ donation.receiverAccount.contactInfo.streetAddress }}</div>
      <div>
        {{ donation.receiverAccount.contactInfo.city }}, {{ donation.receiverAccount.contactInfo.state }}
        {{ donation.receiverAccount.contactInfo.postalCode }}
      </div>
    </div>
  </div>

  <hr style="display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 0 0 1em; padding: 0;">
  <p>
    Follow this <a href="{{ env.SERVER_HOST_ADDRESS }}/donation-details/{{ donation.id }}">link</a> to view the donation.
    <br>You may start/schedule the delivery at this link.
  </p>
</div>
