<div>
  <div>Your donation has been updated!</div>
  <p>
    You can view and edit your donation at this
    <a href="{{ env.SERVER_HOST_ADDRESS }}/donation-details/{{ updatedDonation.id }}">link</a>.
  </p>

  <p class="donation-summary-header">Original Donation:</p>
  <table>
    <tr>
      <td class="donation-summary-label">Donor:</td>
      <td>{{ originalDonation.donorFirstName }} {{ originalDonation.donorLastName }}</td>
    </tr>
    <tr>
      <td class="donation-summary-label">Type:</td>
      <td>{{ originalDonation.donationType }}</td>
    </tr>
    <tr>
      <td class="donation-summary-label">Value:</td>
      <td>${{ originalDonation.estimatedValue }}</td>
    </tr>
    <tr>
      <td class="donation-summary-label">Description:</td>
      <td class="donation-summary-description">{{ originalDonation.description }}</td>
    </tr>
  </table>

  <p class="donation-summary-header">Updated Donation:</p>
  <table>
    <tr>
      <td class="donation-summary-label">Donor:</td>
      <td>{{ updatedDonation.donorFirstName }} {{ updatedDonation.donorLastName }}</td>
    </tr>
    <tr>
      <td class="donation-summary-label">Type:</td>
      <td>{{ updatedDonation.donationType }}</td>
    </tr>
    <tr>
      <td class="donation-summary-label">Value:</td>
      <td>${{ updatedDonation.estimatedValue }}</td>
    </tr>
    <tr>
      <td class="donation-summary-label">Description:</td>
      <td class="donation-summary-description">{{ updatedDonation.description }}</td>
    </tr>
  </table>

  <p>
    If this change was unexpected, then contact FoodWeb at:<br>
    <a href="mailto:{{ env.SUPPORT_EMAIL }}">{{ env.SUPPORT_EMAIL }}</a>.
  </p>
</div>
