{{#if isReceiver }}
  <div>You have successfully claimed a donation from <strong>{{ donorName }}</strong>:</div>
  <p class="donation-description">{{ donation.description }}</p>
  <hr>
  <p>
    Follow this <a href="{{ env.SERVER_HOST_ADDRESS }}/donation/details/{{ donation.id }}">link</a> to view the donation.
    You may also cancel your claim while viewing the donation.
  </p>
  <p>
    You will receive a message once the donation is scheduled for delivery.
  </p>
  <p>
    Feel free to contact
    <a href="mailto:{{ donation.donorAccount.contactInfo.email }}">{{ donorName }}</a> or
    <a href="mailto:{{ env.SUPPORT_EMAIL }}">FoodWeb</a> with any questions.
  </p>
{{else}}
  <div><strong>{{ receiverName }}</strong> has claimed your donation:</div>
  <p class="donation-description">{{ donation.description }}</p>
  <hr>
  <p>
    Follow this <a href="{{ env.SERVER_HOST_ADDRESS }}/donation/details/{{ donation.id }}">link</a> to view the donation.
  </p>
  <p>
    You will receive a message once the donation is scheduled for pickup.<br>
    Feel free to contact
    <a href="mailto:{{ donation.receiverAccount.contactInfo.email }}">{{ receiverName }}</a> or
    <a href="mailto:{{ env.SUPPORT_EMAIL }}">FoodWeb</a> with any questions.
  </p>
{{/if}}
