{{#if isReceiver }}
  <div>You have successfully cancelled your claim to a donation from <strong>{{ donorName }}</strong>:</div>
  <p class="donation-description">{{ donation.description }}</p>
  <hr>
  <p>
    Follow this <a href="{{ env.SERVER_HOST_ADDRESS }}/donation/details/{{ donation.id }}">link</a> to view the donation.
    You may re-claim this donation as long as no other charity has claimed it.
  </p>
  <p>
    Feel free to contact
    <a href="mailto:{{ donation.donorContactOverride.email }}">{{ donorName }}</a> or
    <a href="mailto:{{ env.SUPPORT_EMAIL }}">FoodWeb</a> with any questions.
  </p>
{{else if isDonor }}
  <div><strong>{{ receiverName }}</strong> has cancelled their claim to your donation:</div>
  <p class="donation-description">{{ donation.description }}</p>
  <hr>
  <p>
    Follow this <a href="{{ env.SERVER_HOST_ADDRESS }}/donation/details/{{ donation.id }}">link</a> to view the donation.
  </p>
  <p>
    We are sorry for any inconvenience this has caused you. When another charity claims your donation, you will be notified.
  </p>
  <p>
    Feel free to contact
    <a href="mailto:{{ receiverAccount.contactInfo.email }}">{{ receiverName }}</a> or
    <a href="mailto:{{ env.SUPPORT_EMAIL }}">FoodWeb</a> with any questions.
  </p>
{{else}}
  <div>
    <strong>{{ receiverName }}</strong> has cancelled their claim to the donation
    from <strong>{{ donorName }}</strong>, and therefore, your delivery has been cancelled:
  </div>
  <p class="donation-description">{{ donation.description }}</p>
  <hr>

  <div class="col-6">
    <div class="inline-label">
      Donor:
    </div>
    <div class="indented-data">
      <div class="emphasize">
        {{ donorName }}
      </div>
      <div>{{ donation.donorContactOverride.streetAddress }}</div>
      <div>
        {{ donation.donorContactOverride.city }}, {{ donation.donorContactOverride.state }}
        {{ donation.donorContactOverride.postalCode }}
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="inline-label">
      Receiver:
    </div>
    <div class="indented-data">
      <div class="emphasize">
        {{ receiverName }}
      </div>
      <div>{{ receiverAccount.contactInfo.streetAddress }}</div>
      <div>
        {{ receiverAccount.contactInfo.city }}, {{ receiverAccount.contactInfo.state }}
        {{ receiverAccount.contactInfo.postalCode }}
      </div>
    </div>
  </div>

  <hr>
  <p>
    We are sorry for any inconvenience this has caused you.
  </p>
  <p>
    You can search for other unscheduled deliveries at this
    <a href="{{ env.SERVER_HOST_ADDRESS }}/delivery/list?donationStatus=Matched">link</a>,
    or wait to be notified about another delivery.
  </p>
  <p>
    Feel free to contact
    <a href="mailto:{{ donation.donorContactOverride.email }}">{{ donorName }}</a>,
    <a href="mailto:{{ receiverAccount.contactInfo.email }}">{{ receiverName }}</a>,
    or <a href="mailto:{{ env.SUPPORT_EMAIL }}">FoodWeb</a> with any questions.
  </p>
{{/if}}
