<div>
  <div>Thank-you for your donation!</div>
  <p>
    You can view and edit your donation at this
    <a href="{{ env.SERVER_HOST_ADDRESS }}/donation-details/{{ donation.id }}">link</a>.
  </p>
  <p class="donation-summary-header">Donation Summary:</p>
  <table>
    <tr>
      <td class="donation-summary-label">Submitter:</td>
      <td>{{ donation.donorFirstName }} {{ donation.donorLastName }}</td>
    </tr>
    <tr>
      <td class="donation-summary-label">Number of Meals:</td>
      <td>{{ donation.estimatedNumFeed }}</td>
    </tr>
    <tr>
      <td class="donation-summary-label">Value:</td>
      <td>${{ donation.estimatedValue }}</td>
    </tr>
    <tr>
      <td class="donation-summary-label">Description:</td>
      <td class="donation-summary-description">{{ donation.description }}</td>
    </tr>
  </table>
</div>
