{{#if isHubAccount }}
  <p>Your donation drop-off hub has been deleted:</p>

  <hr class="no-margin-top">

  <div class="col-6">
    <div class="inline-label">
      Drop-Off Location:
    </div>
    <div class="indented-data">
      <div>{{ donationHub.contactOverride.streetAddress }}</div>
      <div>
        {{ donationHub.contactOverride.city }}, {{ donationHub.contactOverride.state }}
        {{ donationHub.contactOverride.postalCode }}
      </div>
    </div>
  </div>

  <hr class="no-margin-top">

  <div class="col-6">
    <div class="inline-label">
      Drop-Off Window Start:
    </div>
    <div class="indented-data date-time">
      <span class="date">{{toLocalDateStr donationHub.dropOffWindowStart timezone }}</span>
      <strong class="time">{{toLocalTimeStr donationHub.dropOffWindowStart timezone }}</strong>
    </div>
  </div>

  <div class="col-6">
    <div class="inline-label">
      Drop-Off Window End:
    </div>
    <div class="indented-data date-time">
      <span class="date">{{toLocalDateStr donationHub.dropOffWindowEnd timezone }}</span>
      <strong class="time">{{toLocalTimeStr donationHub.dropOffWindowEnd timezone }}</strong>
    </div>
  </div>

  <hr class="no-margin-top">
  <p>
    If this change was unexpected, then contact FoodWeb at:<br>
    <a href="mailto:{{ env.SUPPORT_EMAIL }}">{{ env.SUPPORT_EMAIL }}</a>.
  </p>
{{else}}
  <p>We regret to inform you that the drop-off hub that you pledged a donation to has been removed.</p>
  <p>Therefore, your donation pledge has been cancelled:</p>
  <hr class="no-margin-top">

  <div class="col-12">
    <div>
      <span class="inline-label">Sandwich Type:</span>
      <span>{{ pledge.foodType }}</span>
    </div>
    <div>
      <span class="inline-label">Sandwich Count:</span>
      <span>{{ pledge.foodCount }}</span>
    </div>
  </div>

  <div class="col-6">
    <div class="inline-label">
      Drop-Off Location:
    </div>
    <div class="indented-data">
      <div class="emphasize">
        {{ hubAccountName }}
      </div>
      <div>{{ donationHub.contactOverride.streetAddress }}</div>
      <div>
        {{ donationHub.contactOverride.city }}, {{ donationHub.contactOverride.state }}
        {{ donationHub.contactOverride.postalCode }}
      </div>
    </div>
  </div>

  <hr class="no-margin-top">

  <div class="col-6">
    <div class="inline-label">
      Drop-Off Window Start:
    </div>
    <div class="indented-data date-time">
      <span class="date">{{toLocalDateStr donationHub.dropOffWindowStart timezone }}</span>
      <strong class="time">{{toLocalTimeStr donationHub.dropOffWindowStart timezone }}</strong>
    </div>
  </div>

  <div class="col-6">
    <div class="inline-label">
      Drop-Off Window End:
    </div>
    <div class="indented-data date-time">
      <span class="date">{{toLocalDateStr donationHub.dropOffWindowEnd timezone }}</span>
      <strong class="time">{{toLocalTimeStr donationHub.dropOffWindowEnd timezone }}</strong>
    </div>
  </div>

  <hr class="no-margin-top">
  <p>
    You can pledge your donation to other available donation hubs
    <a href="{{ env.SERVER_HOST_ADDRESS }}/donation-hub/list">here</a>.
  </p>
  <p>
    Feel free to contact
    <a href="mailto:{{ donationHub.contactOverride.email }}">{{ hubAccountName }}</a>
    or <a href="mailto:{{ env.SUPPORT_EMAIL }}">FoodWeb</a> with any questions.
  </p>
{{/if}}
