<div>
  <div><strong>{{ receiver.organization.organizationName }}</strong> has cancelled their claim to your donation:</div>
  <p style="font-weight: bold; color: #3e2723">{{ donation.description }}</p>
  <hr style="display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;">
  <p>
    Follow this <a href="{{ env.SERVER_HOST_ADDRESS }}/donation-details/{{ donation.id }}">link</a> to view the donation.
  </p>
  <p>
    We are sorry for any inconvenience this has caused you. When another charity claims your donation, you will be notified.
  </p>
  <p>
    Feel free to contact
    <a href="mailto:{{ receiver.contactInfo.email }}">{{ receiver.organization.organizationName }}</a> or
    <a href="mailto:{{ env.SUPPORT_EMAIL }}">FoodWeb</a> with any questions.
  </p>
</div>
