<div>You have been auto-assigned to receive a donation from <strong>{{ donorName }}</strong>:</div>
<p class="donation-description">{{ donation.description }}</p>
<hr>
<p>
  Follow this <a href="{{ env.SERVER_HOST_ADDRESS }}/donation/{{ donation.id }}">link</a> to view the donation.
  You may also cancel your claim while viewing the donation.
</p>
<p>
  You will receive a message once the donation is scheduled for delivery.
</p>
<p>
  You can prevent being auto-assigned donations by turning off <strong>Automatically Accpet Donations</strong> under your
  <a href="{{ env.SERVER_HOST_ADDRESS }}/account/my">account</a>.
</p>
<p>
  You can also limit the times that you will be auto-assigned donations by editing your <strong>Delivery Availability</strong> under your account.
</p>
<p>
  Feel free to contact
  <a href="mailto:{{ donation.donorContactOverride.email }}">{{ donorName }}</a> or
  <a href="mailto:{{ env.SUPPORT_EMAIL }}">FoodWeb</a> with any questions.
</p>
