<div>
  <p>A new donation drop-off hub hosted by <strong>{{ hubAccountName }}</strong> is available near you!</p>

  <p>
    Follow this <a href="{{ env.SERVER_HOST_ADDRESS }}/donation-hub/{{ donationHub.id }}">link</a> to view the donation drop-off hub,
    and pledge a donation at your convenience.
  </p>

  <hr class="no-margin-top">

  <div class="col-6">
    <div class="inline-label">
      Drop-Off Location:
    </div>
    <div class="indented-data">
      <div>{{ donationHub.contactOverride.streetAddress }}</div>
      <div>
        {{ donationHub.contactOverride.city }}, {{ donationHub.contactOverride.state }}
        {{ donationHub.contactOverride.postalCode }}
      </div>
    </div>
  </div>

  <hr class="no-margin-top">

  <div class="col-6">
    <div class="inline-label">
      Drop-Off Window Start:
    </div>
    <div class="indented-data date-time">
      <span class="date">{{toLocalDateStr donationHub.dropOffWindowStart timezone }}</span>
      <strong class="time">{{toLocalTimeStr donationHub.dropOffWindowStart timezone }}</strong>
    </div>
  </div>

  <div class="col-6">
    <div class="inline-label">
      Drop-Off Window End:
    </div>
    <div class="indented-data date-time">
      <span class="date">{{toLocalDateStr donationHub.dropOffWindowEnd timezone }}</span>
      <strong class="time">{{toLocalTimeStr donationHub.dropOffWindowEnd timezone }}</strong>
    </div>
  </div>
</div>
