<header class="email-header">
  <table class="fill" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left">
        {{#if isVolunteer }}
          <b>Hi, {{ account.volunteer.firstName }} {{ account.volunteer.lastName }}</b>
        {{else}}
          <b>Hi, {{ account.organization.organizationName }}</b>
        {{/if}}
      </td>
      <td align="right">
        <a href="{{ env.SERVER_HOST_ADDRESS }}">Home</a> |
        <a href="{{ env.SERVER_HOST_ADDRESS }}/login">Login</a>
      </td>
    </tr>
  </table>
  <img class="header-img" width="561px" src="{{ env.PRODUCTION_HOST_ADDRESS }}/assets/HeaderImgMd.jpg" alt="Food Web Header Image">
</header>
